body {
    animation: 10s bg infinite;
}
h1 {
    position: absolute;
    top: -10px;
    left: 0px;

    color: black;
    font-family: helvetica;
    font-size: 150px;

    position: absolute;
    left: 70px;
}
#linksborder {
    border: 10px black solid;
    border-radius: 8px;

    padding: 1%;

    position: absolute;
    top: 500px;
    left: 550px;

    width: 900px;
    height: 210px;
}
#contactlink a {
    color: black;
    font-family: helvetica;
    font-size: 50px;
    text-decoration: none;

    position: absolute;
    top: 520px;
    left: 600px;
}
#contactlink a:hover {
    color: black;
    font-family: helvetica;
    font-size: 50px;
    text-decoration: none;

    position: absolute;
    top: 520px;
    left: 600px;
}
#contactlinkjoke {
    position: absolute;
    top: 520px;
    left: 850px
}
.contactlinkjoketext {
    font-family: helvetica;
    font-size: 20px;
    text-decoration: none;
}
#discordlink a {
    color: black;
    font-family: helvetica;
    font-size: 50px;
    text-decoration: none;

    position: absolute;
    top: 570px;
    left: 600px;
}
#discordlink a:hover {
    color: black;
    font-family: helvetica;
    font-size: 50px;
    text-decoration: none;

    position: absolute;
    top: 570px;
    left: 600px;
}
#discordlinkdesc {
    position: absolute;
    top: 570px;
    left: 850px
}
.discordlinkdesctext {
    font-family: helvetica;
    font-size: 20px;
    text-decoration: none;
}
#projectslink a {
    color: black;
    font-family: helvetica;
    font-size: 50px;
    text-decoration: none;

    position: absolute;
    top: 625px;
    left: 600px;
}
#projectslink a:hover {
    color: black;
    font-family: helvetica;
    font-size: 50px;
    text-decoration: none;

    position: absolute;
    top: 625px;
    left: 600px;
}
#projectslinkjoke {
    position: absolute;
    top: 625px;
    left: 850px
}
.projectslinkjoketext {
    font-family: helvetica;
    font-size: 20px;
    text-decoration: none;
}
#newgroundslink a {
    color: black;
    font-family: helvetica;
    font-size: 50px;
    text-decoration: none;

    position: absolute;
    top: 680px;
    left: 600px;
}
#newgroundslink a:hover {
    color: black;
    font-family: helvetica;
    font-size: 50px;
    text-decoration: none;

    position: absolute;
    top: 680px;
    left: 600px;
}
#newgroundslinkdesc {
    position: absolute;
    top: 670px;
    left: 950px
}
.newgroundslinkdesctext {
    font-family: helvetica;
    font-size: 20px;
    text-decoration: none;
}
#welcome {
    border: 10px black solid;
    border-radius: 8px;

    padding: 1%;

    position: absolute;
    top: 500px;
    left: 70px;
}
.welcometitle {
    color: black;
    font-family: helvetica;
    font-size: 40px;
    text-decoration: none;
}
.welcomecontent {
    color: black;
    font-family: helvetica;
    font-size: 25px;
    text-decoration: none;
}
#projects {
    border: 10px black solid;
    border-radius: 8px;

    padding: 1%;

    position: absolute;
    top: 800px;
    left: 70px;

    width: 900px;
    height: 550px;
}
.projectssecttitle {
    padding: 1%;

    color: black;
    font-family: helvetica;
    font-size: 40px;
    text-decoration: none;
}
#project1 {
    padding: 1%;

    position: absolute;
    top: 100px;
    left: 0px;

    width: 900px;
}
#project1 p {
    padding: 1%;

    color: black;
    font-family: helvetica;
    font-size: 20px;
    text-decoration: none;
}
#project2 {
    padding: 1%;

    position: absolute;
    top: 350px;
    left: 0px;

    width: 900px;
}
#project2 p {
    padding: 1%;

    color: black;
    font-family: helvetica;
    font-size: 20px;
    text-decoration: none;
}
.block1 {
    display: block;

    background-color: rgba(0, 0, 0, 0.5);

    width: 100px;
    height: 100px;

    animation: 45s block1 infinite;
}
.block2 {
    display: block;

    background-color: rgba(0, 0, 0, 0.5);

    width: 50px;
    height: 50px;

    animation: 35s block2 infinite;
}
.block3 {
    display: block;

    background-color: rgba(0, 0, 0, 0.5);

    width: 55px;
    height: 55px;

    animation: 50s block3 infinite;
}
.block4 {
    display: block;

    background-color: rgba(0, 0, 0, 0.5);

    width: 20px;
    height: 20px;

    animation: 20s block4 infinite;
}
.block5 {
    display: block;

    background-color: rgba(0, 0, 0, 0.5);

    width: 30px;
    height: 30px;

    animation: 60s block5 infinite;
}
@keyframes bg {
    0%{
        background-color: rgb(0, 255, 255);
    }
    50%{
        background-color: rgb(255, 0, 200);
    }
    100%{
        background-color: rgb(0, 255, 255);
    }
}
@keyframes block1 {
    0%{
        position: absolute;
        top: 100px;
        left: 10px
    }
    100%{
        position: absolute;
        top: 100px;
        left: 1790px;
    }
}
@keyframes block2 {
    0%{
        position: absolute;
        top: 250px;
        left: 10px
    }
    100%{
        position: absolute;
        top: 250px;
        left: 1840px;
    }
}
@keyframes block3 {
    0%{
        position: absolute;
        top: 300px;
        left: 10px
    }
    100%{
        position: absolute;
        top: 300px;
        left: 1835px;
    }
}
@keyframes block4 {
    0%{
        position: absolute;
        top: 340px;
        left: 10px
    }
    100%{
        position: absolute;
        top: 340px;
        left: 1880px;
    }
}
@keyframes block5 {
    0%{
        position: absolute;
        top: 400px;
        left: 10px
    }
    100%{
        position: absolute;
        top: 400px;
        left: 1860px;
    }
}