@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    overflow-x: hidden;
}
body {
    animation: 10s pinknblubg infinite;
}
h1 {
    position: absolute;
    top: -10px;
    left: -100px;

    color: black;
    font-family: 'Press Start 2P';
    font-size: 120px;

    position: absolute;
    left: 70px;

    animation: 10s pinknblutxt infinite;
}
#heading {
    display: block;

    background-color: rgb(12, 22, 22);

    border-bottom: 10px rgb(4, 5, 5) solid;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 250px;
}
#container {
    display: block;

    background-color: rgb(12, 22, 22);

    border-bottom: 10px rgb(4, 5, 5) solid;
    border-top: 10px rgb(4, 5, 5) solid;

    position: absolute;
    top: 300px;
    left: 0px;

    width: 100%;
    height: 1500px;
}
#welcome {
    background-color: rgb(40, 54, 54);

    border: 10px rgb(4, 5, 5) solid;
    border-radius: 10px;

    padding: 1%;

    position: absolute;
    top: 360px;
    left: 70px;
}
.welcometitle {
    position: absolute;
    top: -10px;
    left: 20px;

    color: rgb(255, 0, 200);
    font-family: 'Press Start 2P';
    font-size: 40px;
    text-decoration: none;

    animation: 10s pinknblutxt infinite;
}
.divider1 {  
    width: 875px;

    position: absolute;
    top: 90px;
    left: -5px;

    border-bottom: 10px rgb(4, 5, 5) solid;
}
.welcomecontent {
    padding-top: 10%;

    color: black;
    font-family: 'Press Start 2P';
    font-size: 25px;
    text-decoration: none;
}
#projects {
    background-color: rgb(40, 54, 54);

    border: 10px rgb(4, 5, 5) solid;
    border-radius: 10px;

    padding: 1%;

    position: absolute;
    top: 700px;
    left: 70px;

    width: 900px;
    height: 550px;
}
.projectssecttitle {
    position: absolute;
    top: -20px;
    left: 20px;

    padding: 1%;

    color: rgb(255, 0, 200);
    font-family: 'Press Start 2P';
    font-size: 40px;
    text-decoration: none;

    animation: 10s pinknblutxt infinite;
}
.divider2 {  
    width: 950px;

    position: absolute;
    top: 90px;
    left: -5px;

    border-bottom: 10px rgb(4, 5, 5) solid;
}
#project1 {
    padding: 1%;

    position: absolute;
    top: 100px;
    left: 0px;

    width: 900px;
}
.project1title {
    font-family: 'Press Start 2P';
    font-size: 20px;
}
.project1desc {
    padding: 1%;

    color: black;
    font-family: 'Press Start 2P';
    font-size: 15px;
    text-decoration: none;
}
.project1status {
    padding: 1%;

    color: black;
    font-family: 'Press Start 2P';
    font-size: 15px;
    text-decoration: none;
}
#project2 {
    padding: 1%;

    position: absolute;
    top: 350px;
    left: 0px;

    width: 900px;
}
.project2title {
    font-family: 'Press Start 2P';
    font-size: 20px;
}
.project2desc {
    padding: 1%;

    color: black;
    font-family: 'Press Start 2P';
    font-size: 15px;
    text-decoration: none;
}
.project2status {
    padding: 1%;

    color: black;
    font-family: 'Press Start 2P';
    font-size: 15px;
    text-decoration: none;
}
#links {
    position: absolute;
    top: 100%;
    left: 0px;

    width: 100%;
    height: 100px;
}
#contactlink a {
    color: black;
    font-family: 'Press Start 2P';
    font-size: 30px;
    text-decoration: none;

    position: absolute;
    top: 520px;
    left: 70px;

    animation: 10s pinknblutxt infinite;
}
#contactlink a:hover {
    color: black;
    font-family: 'Press Start 2P';
    font-size: 30px;
    text-decoration: none;

    position: absolute;
    top: 520px;
    left: 70px;

    animation: 10s pinknblutxt infinite;
}
#contactlinkjoke {
    position: absolute;
    top: 500px;
    left: 300px;
    
    opacity: 70%;
}
.contactlinkjoketext {
    font-family: 'Press Start 2P';
    font-size: 20px;
    text-decoration: none;
}
#discordlink a {
    color: black;
    font-family: 'Press Start 2P';
    font-size: 30px;
    text-decoration: none;

    position: absolute;
    top: 580px;
    left: 70px;
    
    animation: 10s pinknblutxt infinite;
}
#discordlink a:hover {
    color: black;
    font-family: 'Press Start 2P';
    font-size: 30px;
    text-decoration: none;

    position: absolute;
    top: 580px;
    left: 70px;
    
    animation: 10s pinknblutxt infinite;
}
#discordlinkdesc {
    position: absolute;
    top: 560px;
    left: 300px;

    opacity: 70%;
}
.discordlinkdesctext {
    font-family: 'Press Start 2P';
    font-size: 20px;
    text-decoration: none;
}
#projectslink a {
    color: black;
    font-family: 'Press Start 2P';
    font-size: 30px;
    text-decoration: none;

    position: absolute;
    top: 645px;
    left: 70px;

    animation: 10s pinknblutxt infinite;
}
#projectslink a:hover {
    color: black;
    font-family: 'Press Start 2P';
    font-size: 30px;
    text-decoration: none;

    position: absolute;
    top: 645px;
    left: 70px;

    animation: 10s pinknblutxt infinite;
}
#projectslinkjoke {
    position: absolute;
    top: 635px;
    left: 350px;

    opacity: 70%;
}
.projectslinkjoketext {
    font-family: 'Press Start 2P';
    font-size: 20px;
    text-decoration: none;
}
#newgroundslink a {
    color: black;
    font-family: 'Press Start 2P';
    font-size: 30px;
    text-decoration: none;

    position: absolute;
    top: 710px;
    left: 70px;
    
    animation: 10s pinknblutxt infinite;
}
#newgroundslink a:hover {
    color: black;
    font-family: 'Press Start 2P';
    font-size: 30px;
    text-decoration: none;

    position: absolute;
    top: 710px;
    left: 70px;

    animation: 10s pinknblutxt infinite;
}
#newgroundslinkdesc {
    position: absolute;
    top: 690px;
    left: 400px;

    opacity: 70%;
}
.newgroundslinkdesctext {
    font-family: 'Press Start 2P';
    font-size: 20px;
    text-decoration: none;
}
@keyframes pinknblubg {
    0%{
        background-color: rgb(0, 255, 255);
    }
    70%{
        background-color: rgb(255, 0, 200);
    }
    100%{
        background-color: rgb(0, 255, 255);
    }
}
@keyframes pinknblutxt {
    0%{
        color:rgb(0, 255, 255);
    }
    70%{
        color:rgb(255, 0, 200);
    }
    100%{
        color:rgb(0, 255, 255);
    }
}